[buildout]
parts =
    zeoserver
    client1
    zopepy

# Change the number here to change the version of Plone being used
extends = 
    http://dist.plone.org/release/4.1.2/versions.cfg
versions = versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.1.2
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs =
    Pillow
    python-Levenshtein
    feedparser
    
# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

[versions]
Products.CMFBibliographyAT = 1.1.2
Products.TinyMCE = 1.2.12
    
[zeoserver]
recipe = plone.recipe.zeoserver
zeo-address = 8001
zeo-conf-additional =
    <filestorage airdrie>
    path ${buildout:directory}/var/filestorage/airdrie.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage bertchurch>
    path ${buildout:directory}/var/filestorage/bertchurch.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage bowers>
    path ${buildout:directory}/var/filestorage/bowers.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage edwards>
    path ${buildout:directory}/var/filestorage/edwards.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage mccall>
    path ${buildout:directory}/var/filestorage/mccall.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage mcdougall>
    path ${buildout:directory}/var/filestorage/mcdougall.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage mclayton>
    path ${buildout:directory}/var/filestorage/mclayton.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage meadowbrook>
    path ${buildout:directory}/var/filestorage/meadowbrook.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage nosecreek>
    path ${buildout:directory}/var/filestorage/nosecreek.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage rjhawkey>
    path ${buildout:directory}/var/filestorage/rjhawkey.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>
    <filestorage rvlc>
    path ${buildout:directory}/var/filestorage/rvlc.fs
    blob-dir ${buildout:directory}/var/blobstorage
    </filestorage>

[client1]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
effective-user = plone
zeo-client = on
zeo-address = ${zeoserver:zeo-address}
user = admin:admin
http-address = 8081
blob-storage = var/blobstorage
shared-blob = on
debug-mode = off
zserver-threads = 1

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    ${buildout:eggs}
    Plone
    Products.PloneHotfix20121106
    Products.PloneFormGen == 1.7.11
    Products.CSSManager
    Products.PloneKeywordManager
    plone.app.caching
    p4a.calendar
    p4a.plonecalendar
    borg.project
    Derma.RockySchool
    Products.RockySkin
    rvs.schooltemplate
    Products.PloneHotfix20130618
    Products.PloneHotfix20131210

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    plone.app.caching
    Derma.RockySchool
    p4a.calendar
    p4a.plonecalendar
    rvs.schooltemplate

zope-conf-additional=
    <zodb_db airdrie>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage airdrie
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /airdrie
    </zodb_db>
    <zodb_db bertchurch>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage bertchurch
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /bertchurch
    </zodb_db>
    <zodb_db bowers>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage bowers
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /bowers
    </zodb_db>
    <zodb_db edwards>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage edwards 
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /edwards
    </zodb_db>
    <zodb_db mccall>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage mccall 
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /mccall
    </zodb_db>
    <zodb_db mcdougall>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage mcdougall
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /mcdougall
    </zodb_db>
    <zodb_db mclayton>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage mclayton
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /mclayton
    </zodb_db>
    <zodb_db meadowbrook>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage meadowbrook
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /meadowbrook
    </zodb_db>
    <zodb_db nosecreek>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage nosecreek
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /nosecreek
    </zodb_db>
    <zodb_db rjhawkey>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage rjhawkey
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /rjhawkey
    </zodb_db>
    <zodb_db rvlc>
    cache-size 50000
    <zeoclient>
    server ${zeoserver:zeo-address}
    storage rvlc
    name zeostorage
    var ${buildout:directory}/parts/client1/var
    blob-dir ${buildout:directory}/var/blobstorage
    shared-blob-dir on
    cache-size 900MB
    </zeoclient>
    mount-point /rvlc
    </zodb_db>

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${client1:eggs}
interpreter = zopepy
scripts = zopepy

